<footer class="text-left text-muted w-100 mt-auto">
  <div class="d-flex flex-column mb-3" id="footerContainer">
    <div class="d-flex flex-row" id="topFooterContainer">

      <div>
        <h6 class="footerListHeader">Support</h6>
        <ul class="list">
          <li ><a href="#">FAQS</a></li>
          <li ><a href="#">About Us</a></li>
          <li ><a href="#">Shipping</a></li>
          <li ><a href="#">My Account</a></li>
          <li ><a href="#">Contact Us</a></li>
        </ul>
      </div>
  
      <div>
        <h6 class="footerListHeader">Privacy & Terms</h6>
        <ul class="list">
          <li ><a href="#">Privacy</a></li>
          <li ><a href="#">Terms of Use</a></li>
          <li ><a href="#">Site Accessibility</a></li>
        </ul>
      </div>

    </div>

    <div class="d-flex flex-row justify-content-end" id="bottomFooterContainer">
      <div>
        <p id="footerCopyright">
          &copy; Copyright 2023 : VistaHut
        </p>
      </div>
      
    </div>
   
  </div>

   

    
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>