.menu-left * {
  margin-right: 15px;
}

.menuIcon {
  margin-right: 10px;
  cursor: pointer;
  color: black;
}

.menuIcon :hover {
  fill: grey;
}

@media (min-width: 992px) {
  .cartListItem {
    display: none;
  }
}

@media (max-width: 992px) {
  .menuIcon {
    display: none;
  }
}
