.productImage {
  width: 70%;
  min-width: 350px;
  max-width: 1000px;
}

@media only screen and (max-width: 900px) {
  #productContainer {
    flex-direction: column !important;
  }

  .productImage {
    max-width: 100px;
  }
}

#productBody {
  padding: 50px;
}

#productBody * {
  padding: 10px;
}

.atcBtn {
  max-width: 150px !important;
}
